html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #835609;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 1.5rem;
  transition: all 600ms;
}
a:hover {
  background-color: #835609;
  color: #90ee90;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  text-align: center;
}

#titleKiwi {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: #90ee90;
}

#titleKiwi img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

#nav {
  display: flex;
  justify-content: space-between;
  background-color: #90ee90;
  border-radius: 16px;
  padding: 8px;
  align-items: center;
  border: 3px solid black;
  /* box-shadow: 5px 5px 0px black; */
  width: 90%;
  margin: 20px auto 0px;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: right;
}

#convertor-container {
  background-color: #90ee90;
  padding: 8px;
  border-radius: 10px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  width: 90%;
  box-shadow: 5px 5px 0px black;
}

label,
input {
  font-weight: bold;
  margin-bottom: 10px;
  justify-content: center;
}

input {
  display: flex;
  justify-self: center;
  width: 100%;
}

#footer {
  background-color: #90ee90;
  padding: 1em;
  margin-top: 2em;
  border: 3px solid black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

@media screen and (min-width: 640px) {
  input {
    width: 60%;
  }
  .tabs-container {
    flex-direction: row;
  }
  .tab {
    margin-right: 20px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.scrolling-image {
  height: 750px;
  width: 7680px;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px); /* The image width */
  }
}
